<div class="col-lg-12 col-md-12 well">
    <p>&nbsp;</p>

    <div class="gdg_loading" ng-show="loading"></div>
    <div class="row">
        <div class="jumbotron" ng-show="cover.url">
            <img src="../images/gdg-lille.png" class="img-responsive" alt="Google+ Cover Image">

            <h1>{{cover.title}}</h1>

            <p>{{cover.subtitle}}</p>

            <p><a ng-href="{{ google_plus_link }}" class="btn btn-primary btn-lg" role="button" target="_blank">{{cover.button.text}} &raquo;</a>
            </p>
        </div>
        <hr>
        <p class="col-lg-12 col-md-12" ng-bind-html="desc"></p>
        <h4>Sponsors:</h4>

        <div>
            <a href="https://developers.google.com/"><img class="sponsor" src="../images/Google-Developers.png"
                                                          alt="Google Developers"></a>
        </div>
    </div>
</div>